@layer pittorica-components {
  .pittorica-radio-root {
    all: unset;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: var(--pittorica-radius-full);
    border: 1px solid var(--pittorica-slate-7);
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s ease;
    color: var(--pittorica-source-color);
  }

  [data-appearance='dark'] .pittorica-radio-root {
    border-color: color-mix(in srgb, var(--pittorica-white) 40%, transparent);
  }

  .pittorica-radio-root:hover {
    border-color: var(--pittorica-slate-8);
  }

  [data-appearance='dark'] .pittorica-radio-root:hover {
    border-color: color-mix(in srgb, var(--pittorica-white) 70%, transparent);
  }

  .pittorica-radio-root[data-state='checked'] {
    border-color: var(--pittorica-source-color);
    background-color: var(--pittorica-source-color);
    color: white;
  }

  [data-appearance='dark'] .pittorica-radio-root[data-state='checked'] {
    border-color: var(--pittorica-white);
    background-color: var(--pittorica-white);
    color: var(--pittorica-black);
  }

  .pittorica-radio-root:focus-visible {
    outline: 2px solid var(--pittorica-source-color);
    outline-offset: 2px;
  }

  .pittorica-radio-root:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    background-color: var(--pittorica-slate-3);
  }
}
