@layer pittorica-components {
  .pittorica-text-area-root {
    display: flex;
    flex-direction: column;
    gap: var(--pittorica-space-1);
    width: 100%;
  }

  .pittorica-text-area-wrapper {
    display: flex;
    border: 1px solid var(--pittorica-slate-7);
    border-radius: var(--pittorica-radius-2);
    background-color: var(--pittorica-panel-background, white);
    transition:
      box-shadow 0.2s ease,
      border-color 0.2s ease;
    padding: var(--pittorica-space-2);
  }

  .pittorica-text-area-wrapper:focus-within {
    border-color: var(--pittorica-source-color);
    box-shadow: 0 0 0 1px var(--pittorica-source-color);
  }

  .pittorica-text-area-input {
    all: unset;
    flex-grow: 1;
    width: 100%;
    font-size: var(--pittorica-font-size-2);
    color: var(--pittorica-slate-12);
    line-height: 1.5;
    resize: none;
    min-height: 40px;
  }

  .pittorica-text-area-input::placeholder {
    color: var(--pittorica-slate-8);
  }

  .pittorica-text-area-helper {
    margin-top: var(--pittorica-space-1);
    color: var(--pittorica-slate-10);
    font-size: var(--pittorica-font-size-1);
  }

  .pittorica-text-area-root[data-error='true'] .pittorica-text-area-helper {
    color: var(--pittorica-red-9);
  }
}
