@layer pittorica-components {
  .pittorica-slider-root {
    position: relative;
    display: flex;
    align-items: center;
    user-select: none;
    touch-action: none;
    width: 100%;
    height: 24px;
  }

  .pittorica-slider-track {
    background-color: var(--pittorica-slate-4);
    position: relative;
    flex-grow: 1;
    border-radius: var(--pittorica-radius-full);
    height: 4px;
  }

  .pittorica-slider-range {
    position: absolute;
    background-color: var(--pittorica-source-color);
    border-radius: var(--pittorica-radius-full);
    height: 100%;
    z-index: 1;
  }

  .pittorica-slider-marks {
    position: absolute;
    inset: 0;
    pointer-events: none;
  }

  .pittorica-slider-mark {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 4px;
    height: 4px;
    border-radius: var(--pittorica-radius-full);
    background-color: var(--pittorica-slate-6);
    z-index: 2;
    transition: background-color 0.2s ease;
  }

  .pittorica-slider-mark[data-active='true'] {
    background-color: white;
    opacity: 0.5;
  }

  .pittorica-slider-thumb {
    display: block;
    width: 18px;
    height: 18px;
    background-color: white;
    box-shadow: var(--pittorica-shadow-2);
    border: 2px solid var(--pittorica-source-color);
    border-radius: var(--pittorica-radius-full);
    cursor: pointer;
    transition: transform 0.1s ease;
    outline: none;
    z-index: 3;
  }

  .pittorica-slider-thumb:focus-visible {
    box-shadow: 0 0 0 4px var(--pittorica-slate-3);
  }

  .pittorica-slider-thumb:active {
    transform: scale(1.2);
  }

  .pittorica-slider-root[data-disabled='true'] {
    opacity: 0.5;
    pointer-events: none;
  }

  [data-appearance='dark'] .pittorica-slider-track {
    background-color: var(--pittorica-slate-7);
  }

  [data-appearance='dark'] .pittorica-slider-mark {
    background-color: var(--pittorica-slate-5);
  }
}
