@layer pittorica-reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body,
  html {
    margin: 0;
    padding: 0;
    height: 100%;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  body {
    line-height: 1.5;
    font-family: var(--pittorica-font-family);
    background-color: var(--pittorica-surface-0);
    color: var(--pittorica-on-surface, inherit);
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
    color: inherit;
  }

  button {
    background: none;
    border: none;
    padding: 0;
    cursor: var(--pittorica-cursor-button, pointer);
    outline: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }

  @media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }

  #root,
  #__next {
    isolation: isolate;
  }
}
